body {
    background-color: rgb(40, 40, 50);
}

h1 {
    display: block;
    position: relative;
    top: 200px;
    font-size: 56px;
    color: white;
    margin: auto;
    text-align: center;
}

h2 {
    display: block;
    position: relative;
    top: 200px;
    font-size: 32px;
    color: palevioletred;
    margin: auto;
    text-align: center;
}

h3 {
    display: block;
    position: relative;
    top: 200px;
    font-size: 32px;
    color: mediumspringgreen;
    margin: auto;
    text-align: center;
}